body {
  font-family: "playfair-display", sans-serif !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "playfair-display";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.025em;
}

*:not(i) {
  font-family: "playfair-display" !important;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

@keyframes moveUpFade {
  0% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(-110%);
  }
}

.text-gradient-top-1 {
  -webkit-mask-image: linear-gradient(#bbdefa, #bbdefb9e);
  mask-image: linear-gradient(#bbdefa, #bbdefb9e);
}

.text-gradient-top-2 {
  -webkit-mask-image: linear-gradient(#bbdefb9e, transparent);
  mask-image: linear-gradient(#bbdefb9e, transparent);
}

.text-gradient-top {
  -webkit-mask-image: linear-gradient(#151515, transparent);
  mask-image: linear-gradient(#151515, transparent);
}

.text-gradient-bottom-1 {
  -webkit-mask-image: linear-gradient(transparent, #c2e2de7d);
  mask-image: linear-gradient(transparent, #c2e2de7d);
}

.text-gradient-bottom-2 {
  -webkit-mask-image: linear-gradient(#c2e2de7d, #c2e2de);
  mask-image: linear-gradient(#c2e2de7d, #c2e2de);
}

.text-gradient-bottom {
  -webkit-mask-image: linear-gradient(transparent, #151515);
  mask-image: linear-gradient(transparent, #151515);
}

.text-animation {
  animation: moveUpFade linear 34s infinite;
}

li {
  color: #8e4585 !important;
}

::marker {
  color: #8e4585 !important;
}
